@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 10;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.title {
    font-family: "Heebo", sans-serif;
    font-size: 1.5em;
}

.navbar i {
  font-size: 1.4em;
}

.inactive {
  transform: translateX(110%);
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  transition: transform 0.6s ease;
}

nav i {
  position: absolute;
  right: 1em;
  top: 1em;
  color: white;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 100vw;
  height: 100vh;
  background: #333333;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5em;
}

/* Hero section */
.hero-section {
  margin-top: 6rem;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.938rem;
}

.hero-container {
  margin: 0 2.5rem;
}

.hero-container p {
  color: #2D9CDB;
  font-weight: 500;
  font-size: 0.75em;
}

.hero-container h1 {
  max-width: 272px;
  font-weight: 500;
  font-size: 1.5em;
  color: #333333;
}

.hero-image {
  margin: 0 0.625rem;
}

.hero-image img {
  width: 100%;
  border-radius: 1.125em;
}

.hero-container:nth-child(3) h1 {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.5em;
  color: #333333;
}

.hero-container:nth-child(3) p {
  color: #4F4F4F;
  max-width: 275px;
  font-weight: 400;
  font-size: 0.75em;
  margin-bottom: 2rem;
}

.hero-contact p:first-child {
  color: #828282;
  font-weight: 500;
  font-size: 0.625em;
  margin: 0 0 0.4em 0;
}

.hero-input {
  position: relative;
}

.hero-input input {
  width: 100%;
  height: 2.938rem;
  background: #F2F2F2;
  border: none;
  border-radius: 0.750em  ;
  font-weight: 500;
  font-size: 14px;
  color: #BDBDBD;
  padding-left: 1.25rem;
}

.hero-input .join-btn {
  position: absolute;
  height: 2.438rem;
  width: 4.438rem;
  border-radius: 0.750em;
  top: 0.25rem;
  right: 0;
  background: #2D9CDB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-input .join-btn p {
  margin: auto;
  font-weight: 500;
  font-size: 0.875em;
  color: #F2F2F2;
}

/* Services Section */
.services-section > h1 {
  max-width: 259px;
  margin: 6.375rem 0 1.75rem 3.06rem;
  font-weight: 500;
  font-size: 1.5em;
  color: #333333;
}

.services-container {
  display: flex;
  flex-flow: column nowrap;
}

.service-card {
  margin: 0 1rem;
  padding: 3.06rem 2.125rem 2.688rem;
  border-radius: 1.5em;
  transition: all 0.3s ease-in-out;
}

.service-card:hover {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  transform: scale(105%);
}

.box {
  width: 4.188rem;
  height: 4.188rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  margin-bottom: 2.2rem;
}

.service-card:nth-child(1) .box {
  background: #2D9CDB;
}

.service-card:nth-child(2) .box {
  background: #27AE60;
}

.service-card:nth-child(3) .box {
  background: #EB5757;
}

.service-card .box i {
  color: white;
  font-size: 1.5em;
}

.service-card h1 {
  font-weight: 700;
  font-size: 1.5em;
  color: #333333;
  margin-bottom: 1.5rem;
}

.service-card p {
  max-width: 273px;
  font-weight: 400;
  font-size: 1em;
  color: #4F4F4F;
  margin-bottom: 1.875rem;
}

.service-card .get-started-btn {
  padding: 0.563em 0.813em;
  background: #E0E0E0;
  border-radius: 0.75em;
  width: fit-content;
  transition: all 0.3s ease;
}

.get-started-btn a {
  text-decoration: none;
  font-weight: 500;
  color: #828282;
  transition: all 0.3s ease;
}

.service-card:hover .get-started-btn {
  background: #2D9CDB;
}

.service-card:hover .get-started-btn a {
  color: white;
}

/* Projects Section */
.projects-section > h1 {
  max-width: 267px;
  margin: 6.375rem 0 4rem 3.06rem;
  font-weight: 500;
  font-size: 1.5em;
  color: #333333;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2.25rem;
  margin: 0 0.625rem;
}

.project-card img {
  border-radius: 0.75em;
}

.project-card img {
  width: 100%;
  margin-bottom: 0.5rem;
}

.project-card p {
  font-weight: 300;
  font-size: 0.75em;
  color: #828282;
}

.project-card h2 {
  font-weight: 500;
  font-size: 1.125em;
  color: #333333;
}

.projects-section a {
  display: block;
  margin: 2.25rem 0 6.25rem 0.625rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.125em;
  color: #2D9CDB;
}

/* Team Section */
.team-section {
  margin: 0 0.625rem 6.25rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 2.25rem;
}

.team-section .left-col .subtitle {
  font-weight: 500;
  font-size: 1.125em;
  color: #EB5757;
  margin-bottom: 0.4rem;
}

.team-section .left-col > h1 {
  max-width: 280px;
  font-weight: 500;
  font-size: 2.250em;
  color: #333333;
  margin-bottom: 0.8rem;
}

.team-section .left-col .desc {
  max-width: 273px;
  font-weight: 400;
  color: #4F4F4F;
}

.team-section .right-col {
  width: 100%;
  display: grid;
  grid-template-areas: 
  'a b'
  'a c';
  gap: 0.563rem;
}

.team-section .right-col img {
  width: 100%;
  align-self: center;
  border-radius: 1.5em;
}

.team-section .right-col img:nth-of-type(1) {
  grid-area: a;
}

.team-section .right-col img:nth-of-type(2) {
  grid-area: b;
  width: 90%;
}

.team-section .right-col img:nth-of-type(3) {
  grid-area: c;
}

/* Testimony Section */
.testimony-section {
  margin-left: 0.625rem;
}

.testimony-section > h1 {
  max-width: 351px;
  font-weight: 500;
  font-size: 1.5em;
  color: #333333;
  margin-bottom: 1.125rem;
}

.testimony-section .person-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 1.875rem;
}

.person-container img {
  width: 5.125rem;
  border-radius: 0.75em;
}

.person-container .text-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}

.text-container p:first-of-type {
  font-weight: 500;
  font-size: 1.5em;
  color: #333333;
}

.text-container p:last-of-type {
  font-weight: 500;
  font-size: 1.125em;
  color: #828282;
}

/* Footer */
footer {
  margin-top: 6.25rem;
  background: #100E1D;
  padding: 2.25rem 2.5rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.footer-nav ul {
  list-style-type: none;
}

.footer-nav ul li {
  margin-bottom: 0.6em;
}

.footer-nav ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1.125em;
  color: white;
}

.social h1 {
  font-weight: 800;
  font-size: 2.25em;
  color: #F2F2F2;
  margin-bottom: 0.2rem;
}

.social a {
  text-decoration: none;
}

.social a i {
  color: white;
  font-size: 1.6em;
  margin-right: 0.3rem;
}

.footer-contact  p{
  font-weight: 500;
  font-size: 0.625em;
  color: #828282;
  margin: 0 0 0.4em 0;
}

footer > p {
  margin-top: 9.375rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 0.875em;
  text-align: center;
  color: #F2F2F2;
  white-space: nowrap;
}

footer > p span {
  text-decoration: underline;
  font-weight: bold;
}


@media screen and (min-width: 768px) {
  /* Desktop */
  .title {
    font-size: 2.25em;
  }
  
  .inactive {
    transform: translateX(0);
  }
  
  .navbar i {
    display: none;
  }
  
  nav {
    position: inherit;
  }
  
  nav ul {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100%;
    height: 100%;
    background: white;
  }
  
  nav ul li a {
    color: #333333;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5em;
  }

  /* Desktop Hero section */
}